html, body {
    margin: 0%;
}

.Section1 {
    display: inline-block;
    width: 100%;
    background-color: rgb(245, 240, 230);
    scroll-margin-top: 144px;
    
  }

.Section1 p {
    font-size: 28px;
}

.Section2 {
    display: inline-block; 
    width: 100%;
    color: rgb(255, 255, 255);
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    background-position: center; 
    scroll-margin-top: 144px;
}

.Section2 p {
    font-size: 28px;
}

.Section3 {
    display: inline-block;
    width: 100%;
    background-color: rgb(245, 240, 230);
    scroll-margin-top: 144px;
    /* font-size: 24px;  */
}

.Section3 p {
    font-size: 28px;
}

.Section1 img, .Section2 img {
    max-width: 100%;  
    height: auto;   
}


.navbar {
    position: sticky;
    top: 0;
    z-index: 100000;
    overflow: hidden;
    background-color: #ffffff;
}

.navbar img {
    max-width: 400px;
}



ul {
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


ul::after {
    content: "";
    display: table;
    clear: both;
}


li {
    float: left;
  }

li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px; 
}

li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(24, 43, 73);
  }




.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 25px;
    grid-auto-rows: minmax(100px, auto);
    background-color: rgb(245, 240, 230);
    color: white;
    text-align: center; 

}

.one, .two, .three, .four {
    background-color: #182b49;
    color: white;
    font-size: 28px;
    padding: 20px;
    max-height: 500px;
    overflow-y: auto;
    line-height: 1.5;
    text-align: left;
}


@media (max-width: 800px) {
    li a {
        display: none;
    }
    .navbar img {
        max-width: 75%;     
        height: auto;    
    }

    h1 {
        font-size: 24px !important; 
    }

    p {
        font-size: 20px !important;
    }

    .wrapper {
        grid-template-columns: repeat(2, 1fr); 
        font-size: 20px !important;
    }
}


